img {
	border-radius: 50%;
	width: 200px;
}

.container {
	width: 700px;
	margin: 40px auto;
	text-align: center;
}

.card-white {
	background-color: white;
	padding: 40px;
	margin: 20px 0;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.list-inline {
	list-style: none;
	padding-left: 0;
}	

.list-inline li {
	display: inline;
	padding: 0 20px;
}

.list-inline i {
	font-size: 40px;
}